@import 'colors';

.input {
    display: block;
    width: 100%;
    height: 36px;
    border: 1px solid $grey;
    border-radius: 4px;
    outline: none;
    margin: 10px 0;
    padding: 1px 10px;
    box-sizing: border-box;
    font-size: 16px;

    &:focus {
        border: 2px solid $focus;
    }
    &::placeholder {
        font-size: 16px;
    }
}

.label {
    margin-bottom: 5px;
}

.select {
    margin: 10px 0;
}

.button {
    margin: 0 auto;
}

.wrap {
    position: relative;
}

.currency {
    position: absolute;
    top: 8px;
    right: 10px;
    color: $grey;
}

.error {
    color: $error;
    text-align: center;
    padding: 15px 0;
}