@import 'colors';

.button {
    width: 160px;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    display: block;
}

.primary {
    background: transparent;
    border: 1px solid $accent;
    color: $accent;
}

.secondary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
}