@import 'colors';

.table {
    width: 960px;
    border-spacing: 0;
}

.row {
    display: flex;
    padding: 20px 40px;
}

.dataRow {
    display: flex;
    padding: 20px;

    border-bottom: 1px solid $accent;
    margin: 0 20px;

}

.title {
    font-weight: 200;
}

.col {
    text-align: left;
    &:last-child {
        text-align: right;
    }
}

.button {
    margin: 0 auto;
}

.name {
    width: 40%;
}

.stage{
    width: 20%;
}
.sector {
    width: 20%;
}
.investmentSize{
    width: 20%;
}
.wrapper {
    overflow-x: auto;
}

.footer {
    background-color: $white;
    padding: 15px 0;
}