.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 560px) {
        flex-direction: row;
        align-items: flex-start;
    }
}


.companiesList, .piechart {
    width: 100%;
    height: 280px;

    @media (min-width: 560px) {
        width: 50%;
    }
}

.piechart {
    position: relative;
}

.companiesList {
    list-style-type: none;
}

.companyListItem {
    margin: 10px 0;
}


.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.labelNumber {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 58px;
    font-weight: 800;
}
.labelText {
    text-transform: uppercase;
}