@import 'colors';

.sectors {
    display: flex;
    flex-direction: column;

    @media (min-width: 560px) {
        flex-direction: row;
    }
}

.sector {
    width: 100%;
    border-bottom: 1px solid $accent;
    text-align: center;

    &:last-child {
        border: none;
    }
    @media (min-width: 560px) {
        width: 25%;
        border-bottom:  unset;
        border-right: 1px solid $accent;;
    }
}

.icon {
    width: 18px;
    height: 17px;
    filter: invert(29%) sepia(36%) saturate(1952%) hue-rotate(152deg) brightness(97%) contrast(91%);
}

.count {
    font-size: 30px;
    font-weight: 800;
}

.caption {
    color: $primary;
    text-transform: uppercase;
    font-size: 14px;
}