@import 'colors';

.card {
  padding: 5px 10px;
  margin: 10px auto;
  max-width: 960px;
}

.header {
  background-color: $light-grey;
  padding: 20px;
}

.title {
  font-weight: 200;
  color: $primary;
  text-transform: uppercase;
  font-size: 14px;
}

.content {
  background-color: $white;
  padding: 20px;
}