@import 'colors';

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: $modal-backdrop;
}

.modal {
    background: $white;
    width: 80%;
    max-width: 960px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.title {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $primary;
}

.content {
    max-width: 320px;
    margin: 0 auto;
}