$white: #FFFFFF;
$light-grey: #F4F7FA;
$lighter-grey: #E6EAF5;
$grey: #CCCCCC;
$accent: #899BA6;
$focus: #2684FF;
$primary: #0C6B7C;
$modal-backdrop: rgba(0, 0, 0, 0.8);
$black: #2a2d33;
$error: #B00020;