@import 'colors';

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

p, h3 {
    margin: unset;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 55px;
    overflow-x: hidden;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    background-color: $black;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    text-align: center;
}

.content {
    background-color: $lighter-grey;
    padding: 10px 0;
}
